
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    background-color: black;

}

.container{
    width: 1743px;
    margin: 0 auto;
}


.wrapper{
    width: 100%;
}


@import "header";














